<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Customizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Document Customizer</h1>
    <form method="POST" action="/update">
        {% for key, value in data.items() %}
        <label>{{ key }}</label>
        <input type="text" name="{{ key }}" value="{{ value }}"><br><br>
        {% endfor %}
        <button type="submit">Update</button>
        {% if filename %}
    <div>
        <h2>ファイルのダウンロード</h2>
        <p><a href="{{ url_for('download_file', filename=filename) }}">こちらをクリックしてダウンロード</a></p>
    </div>
    {% endif %}
    </form>
</body>
</html>
